<html layout:decorate="~{board/layout}">
<div layout:fragment="content" class="container my-3">
	<style>
		table, th, td {
			border: 1px solid rgb(217, 217, 217);
		}
		th, td {
			padding: 8px;
			vertical-align: middle;
		}
		table {
			border-collapse: collapse;
		}
	</style>
	<!-- 테이블 생성 -->
	<table class="table">
		<thead class="table-dark">
			<tr class="text-center">
				<th>순번</th>
				<th>문서번호</th>
				<th style="width: 50%">제목</th>
				<th>작성자</th>
				<th>작성일시</th>
			</tr>
		</thead>
		<tbody>
			<tr class="text-center" th:each="question, loop : ${questionList}">
				<td th:text="${totalQuestion - (currentPage * listNums) - loop.index}"></td>
				<td th:text="${question.questionNo}"></td>
				<td th:text="${question.subject}"></td>
				<td th:text="(미구현)"></td>
				<td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
			</tr>
		</tbody>
	</table>
	<nav aria-label="Page navigation example">
		<ul class="pagination justify-content-center">
			<!-- 가장 최근 블록으로 -->
			<li class="page-item">
				<a class="page-link"
					th:href="${currentPage > 0} ? '/questions?page=' + (${0}) : '#'"
					th:style="${currentPage == 0} ? 'pointer-events: none; color: grey;' : ''"
				>〈〈</a>
			</li>
			<!-- 이전 블록으로 -->
			<li class="page-item">
				<a class="page-link" 
					th:href="${hasPrevBlock} ? '/questions?page=' + (${startPage - 1}) : '#'"
					th:style="${!hasPrevBlock} ? 'pointer-events: none; color: grey;' : ''"
				>〈</a>
			</li>
			
			<!-- 페이지 번호들 -->
			<li class="page-item" th:each="i : ${#numbers.sequence(startPage, endPage - 1)}"
				th:classappend="${i} == ${currentPage} ? 'active'">
				<a class="page-link" th:href="@{/questions(page=${i})}" th:text="${i + 1}"></a>
			</li>
			
			<!-- 다음 블록으로 -->
			<li class="page-item">
				<a class="page-link" 
					th:href="${hasNextBlock} ? '/questions?page=' + (${endPage}) : '#'"
					th:style="${!hasNextBlock} ? 'pointer-events: none; color: grey;' : ''"
				>〉</a>
			</li>
			<!-- 가장 오래된 블록으로 -->
			<li class="page-item">
				<a class="page-link"
					th:href="${currentPage != totalPages - 1} ? '/questions?page=' + (${totalPages - 1}) : '#'"
					th:style="${currentPage == totalPages - 1} ? 'pointer-events: none; color: grey;' : ''"
				>〉〉</a>
			</li>
		</ul>
	</nav>
</div>
</html>